In [46]:
import pandas as pd

In [47]:
data = pd.read_csv("IC_data_with_NRIC.csv")
data.head()

,Address,Name,Sex,Religion,NRIC,Back_NRIC
0,"48, JLN 8/7, PUNCAK SEPUTEH, 79328 JEMENTAH, J...",NUR NOORFARZANAH BINTI WAN FADZIRUDDIN DOLKEFLI,PEREMPUAN,ISLAM,860903-13-2306,860903-13-2306-02-01
1,"LOT 9, JALAN 6J, PJS33, 15958 RANTAU PANJANG, ...",NUR HJH SUHANA BINTI NIK KAMARUDIN HASIF,PEREMPUAN,ISLAM,780716-29-7456,780716-29-7456-06-01
2,"G-42-10, JLN 1/76D, DESA GEMBIRA, 93888 DARO, ...",D. S. ASH,LELAKI,NaN,930108-03-9789,930108-03-9789-00-01
3,"LOT 31, JALAN 4/4Y, USJ 85, 77198 TANJUNG BIDA...",MUHAMMED NIK BASIRAN KASTURI BIN SARWATI GARAPAR,LELAKI,ISLAM,760305-34-9365,760305-34-9365-04-01
4,"NO. L-31-45, JALAN 8Z, BANDAR MULIA, 87025 BAT...",ANAND A/L KUNJIRAMAN SEENIVASAGAM,PEREMPUAN,NaN,731216-30-8010,731216-30-8010-02-01

In [48]:
for i in range(len(data["Sex"])):
    if(data.iloc[i]["Sex"] == "PEREMPUAN" and "A/L" in data.iloc[i]["Name"]):
        data.iloc[i]["Name"] = data.iloc[i]["Name"].replace("A/L","A/P")
data.head()

,Address,Name,Sex,Religion,NRIC,Back_NRIC
0,"48, JLN 8/7, PUNCAK SEPUTEH, 79328 JEMENTAH, J...",NUR NOORFARZANAH BINTI WAN FADZIRUDDIN DOLKEFLI,PEREMPUAN,ISLAM,860903-13-2306,860903-13-2306-02-01
1,"LOT 9, JALAN 6J, PJS33, 15958 RANTAU PANJANG, ...",NUR HJH SUHANA BINTI NIK KAMARUDIN HASIF,PEREMPUAN,ISLAM,780716-29-7456,780716-29-7456-06-01
2,"G-42-10, JLN 1/76D, DESA GEMBIRA, 93888 DARO, ...",D. S. ASH,LELAKI,NaN,930108-03-9789,930108-03-9789-00-01
3,"LOT 31, JALAN 4/4Y, USJ 85, 77198 TANJUNG BIDA...",MUHAMMED NIK BASIRAN KASTURI BIN SARWATI GARAPAR,LELAKI,ISLAM,760305-34-9365,760305-34-9365-04-01
4,"NO. L-31-45, JALAN 8Z, BANDAR MULIA, 87025 BAT...",ANAND A/P KUNJIRAMAN SEENIVASAGAM,PEREMPUAN,NaN,731216-30-8010,731216-30-8010-02-01

In [49]:
data.to_csv("IC_data_with_NRIC_fixed_gender_12000_rows.csv",index=False)

In [50]:
completeData = pd.read_csv("IC_data_with_NRIC_fixed_gender_12000_rows.csv")
completeData.head(10)

,Address,Name,Sex,Religion,NRIC,Back_NRIC
0,"48, JLN 8/7, PUNCAK SEPUTEH, 79328 JEMENTAH, J...",NUR NOORFARZANAH BINTI WAN FADZIRUDDIN DOLKEFLI,PEREMPUAN,ISLAM,860903-13-2306,860903-13-2306-02-01
1,"LOT 9, JALAN 6J, PJS33, 15958 RANTAU PANJANG, ...",NUR HJH SUHANA BINTI NIK KAMARUDIN HASIF,PEREMPUAN,ISLAM,780716-29-7456,780716-29-7456-06-01
2,"G-42-10, JLN 1/76D, DESA GEMBIRA, 93888 DARO, ...",D. S. ASH,LELAKI,NaN,930108-03-9789,930108-03-9789-00-01
3,"LOT 31, JALAN 4/4Y, USJ 85, 77198 TANJUNG BIDA...",MUHAMMED NIK BASIRAN KASTURI BIN SARWATI GARAPAR,LELAKI,ISLAM,760305-34-9365,760305-34-9365-04-01
4,"NO. L-31-45, JALAN 8Z, BANDAR MULIA, 87025 BAT...",ANAND A/P KUNJIRAMAN SEENIVASAGAM,PEREMPUAN,NaN,731216-30-8010,731216-30-8010-02-01
5,"95, LORONG 5, PANDAN MUTIARA, 82393 PARIT JAWA...",CHIANG QING SHOK,PEREMPUAN,NaN,811202-22-1740,811202-22-1740-00-01
6,"NO. 2-1, JLN 3, APARTMENT BANGSAR, 08894 YAN, ...",CHA QUAY MON,LELAKI,NaN,760619-04-8031,760619-04-8031-04-01
7,"NO. 3, JALAN SENTUL 1/10K, PJS7, 20387 KAMPUNG...",SAU KHOO LER,PEREMPUAN,NaN,750918-40-5378,750918-40-5378-08-01
8,"5K-71, JALAN DORAISAMY 2/24, PETALING PERMAI, ...",DEPAN RAMADASS A/L VIJANDREN PAKIAM,LELAKI,NaN,981001-39-5857,981001-39-5857-08-01
9,"13, JALAN SELAMAT 5/5, TAMAN RAHMAT, 28643 MEN...",MUHAMED NIK AMRI BIN HASBI,LELAKI,ISLAM,710502-12-5811,710502-12-5811-06-01

In [53]:
completeData.duplicated().any()

False